@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600;700&family=Cinzel+Decorative:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Cormorant Garamond", serif;
}

body {
  background-color: #f5f1e8;
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
}
